<!DOCTYPE html>
<html>
<head>
<title>Simple SMS Client</title>
<link rel="stylesheet" type='text/css' href="/static/css/sms.css">

    <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


<body class='body'>
    
    
    <!-- Define div structure to contain data and activity fields -->
    <div class="row">
        <header class="col-lg-offset-1 col-lg-10 header">
        <h1 id="greeting">Hello, 
            <span id="username">{{ request.user.username }}</span>. 
            <h2>Please enter the phone number and text for your SMS message below.</h2>
        </h1>

        </header>
    </div>

    <div class="row contain">
    <section class="col-lg-offset-2 col-lg-8 main">
        <div class="row">

            <!-- Create buttons to add and subtract rows and to send message(s) -->
            <aside class="col-lg-12 buttons">
                <button type="button" class="plus btn btn-default pull-right" id="minus">-</button>
                <button type="button" class="plus btn btn-default pull-right" id="plus">+</button>
                <button id='submit' type="submit" class="btn btn-default text pull-right">Send!</button>
            </aside>

            
        <div class="row">
            <!-- Create data entry fields for destination phone and message text -->
            <aside class="form-group col-lg-offset-1 col-lg-10" id="phone-field">
                <ul id="first-field">
                <form action="" method="post" class="form-inline">
                    <label for="number">Phone Number:</label>
                    <input type="text" class="form-control" name="number" placeholder='(555) 555-5555'>
                    <label for="message">SMS Message: </label>
                    <input type="text" class="form-control" size='80' name="message" placeholder='"Hi there!"'>
                </form>
                </ul>
            </aside>

        </div>
        </div>
    </section>
    
    <!-- Define div to contain logging information for message transmission attempts -->
    <div id="log">
      {% for log in logger %}
        {{log}}
      {% endfor %}
    </div>
    </div>
</body>
    
    
    <!-- Latest compiled and minified JQuery -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" 
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>


<!-- Define function to submit AJAX call when 'Send' button is clicked -->
<script>

    function sendSms(){
        var $destnum = $("input[name=number]").val();
        var $msgtext = $("input[name=message]").val();
        var $username = $("#username").html();
        var data = {'send_to_phone': $destnum, 'message': $msgtext, 'username': $username}
        $.ajax({
            url:"http://localhost:8000/send/",
            type: "POST",
            data: data,
            success: function(rsp) {console.log(rsp)},
            error: function(rsp) {alert(rsp)}
        })
    }

    
// Prevent submission of AJAX call when alert is thrown after 'Send' button is clicked
$('#submit').on('submit', function(evt){
  evt.preventDefault();
  sendSms();
})

</script>



    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JQuery UI -->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>

    <!-- Link for Project's JavaScript file -->
<script src="static/js/more.js"></script>
</html>
